#este archivo tiene que renombrar a .env  el cual sera su variable de entorno para el proyecto


#DB_TOKEN="fdgdfdfghsfdg"

#SECRET_KEY="126dsfsd"
#ELEVENLABS_API_KEY=aqui va tu api key
#ELEVENLABS_VOICE_ID=aqui va tu api key

#LLM_PROVIDER=openai
#OPENAI_API_KEY=aqui va tu api key

DB_HOST="localhost"
DB_NAME="sw1db"
DB_USER="admin"
DB_PASS="admin123"
DB_PORT="5433"

#establecer la variable de entorno así para las migraciones: flask db init ,etc
FLASK_APP=run.py
